/* 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
} */

/* index.css or your custom stylesheet */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
} 

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-slow {
    animation: float 8s ease-in-out infinite;
  }

  .delay-200 {
    animation-delay: 2s;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}